  <body>
  <div class="navbar">
  <div class="navbar-inner">
  <div class="left"><a href="#" class="back link"> <i class="ion ion-arrow-left-b"></i><span>Back</span></a></div>
  <div class="center sliding">Cofeine list</div>
  <div class="right">
   <a href="#" id="save-store" class="link icon-only">Save</a>
  </div>
  </div>
  </div>
  <div class="pages navbar-through toolbar-through">
    <div data-page="new-store" class="page" data-role="page" id="new-store">
      <div class="page-content">

        <div class="location-map" id="location-map">
          <!-- here goes the map with location of the user -->
        </div>

        <div class="form-container">
          <!-- here goes form for new store -->
          <form action="send-here.html" method="POST" class="ajax-submit">

            <div class="content-block-title">STORE DATA</div>
            <div class="list-block inset">
              <ul>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-input">
                        <input type="text" id="store-name-input" placeholder="Store name" required>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-input">
                        <input type="text" id="store-address-input" placeholder="Store address" required>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-input">
                        <input type="text" id="store-zip-input" placeholder="Store zip" required>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </body>
