
  <body>
  <div class="navbar">
  <div class="navbar-inner">
  <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
  <div class="center sliding">Cofeine list</div>
  <div class="right">
   <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
  </div>
  </div>
  </div>
  <div class="pages navbar-through toolbar-through">
    <div data-page="map-page" class="page" data-role="page" id="map-page">
      <div class="page-content">

        <div class="content-block-title">Songs</div>
        <div class="list-block media-list">
          <ul>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media"><img src="..." width="80"></div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Yellow Submarine</div>
                    <div class="item-after">$15</div>
                  </div>
                  <div class="item-subtitle">Beatles</div>
                  <div class="item-text">Lorem ipsum dolor sit amet...</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media"><img src="..." width="80"></div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Yellow Submarine</div>
                    <div class="item-after">$15</div>
                  </div>
                  <div class="item-subtitle">Beatles</div>
                  <div class="item-text">Lorem ipsum dolor sit amet...</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media"><img src="..." width="80"></div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Yellow Submarine</div>
                    <div class="item-after">$15</div>
                  </div>
                  <div class="item-subtitle">Beatles</div>
                  <div class="item-text">Lorem ipsum dolor sit amet...</div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  </body>
<script type="text/javascript">
</script>
