  <body>
  <div class="navbar">
    <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
      <div class="center sliding">store-details</div>
      <div class="right">
        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
      </div>
    </div>
  </div>
    <div class="pages navbar-through toolbar-through">
      <div data-page="details" class="page" data-role="page" id="details">
        <div class="page-content">

          <div class="location-map" id="location-map">
            <!-- here goes the map with location of the single store -->
          </div>

          <div class="review-container">
            <!-- here goes reviews for new store -->
          </div>
        </div>
      </div>
    </div>
  </body>
