<body>
  <!-- Views -->
  <div class="views">
    <!-- Your main view -->
    <div class="view view-map">
      <!-- Pages -->
  <div class="navbar">
  <div class="navbar-inner">
  <div class="left"><a href="#" class="back link"> <i class="ion ion-arrow-left-b"></i><span>Back</span></a></div>
  <div class="center sliding">Cofeine locations</div>
  <div class="right">
   <a href="#" class="link icon-only open-panel"> <i class="ion ion-navicon-round"></i></a>
  </div>
  </div>
  </div>
  <div class="pages navbar-through toolbar-through">
    <div data-page="map-page" class="page" data-role="page" id="map-page">
      <div class="page-content">
<!-- Tabs wrapper, shoud have "tabs" class. Required element -->
<div class="tabs">
  <!-- First tab, should have "tab" class and unique id attribute -->
  <!-- First tab is active by default - additional "active" class -->
  <div class="tab active" id="map-tab">
    <div class="info-pane" id="info-pane">
      <div class="info-pane-text" id="info-pane-text"></div>
    </div>
    <div class="map-canvas" id="map-canvas"></div>
  </div>
  <!-- Second tab, should have "tab" class and unique id attribute -->
  <div class="tab" id="list-tab">
        <div class="content-block-title">List of stores</div>
        <div class="list-block media-list">
          <ul id="stores-list">
          </ul>
        </div>
  </div>
</div>
      </div>
      <div class="toolbar tabbar">
          <div class="toolbar-inner">
              <a href="#map-tab" class="tab-link active">
                  <i class="ion ion-map"></i>
              </a>
              <a href="#list-tab" class="tab-link">
                  <i class="ion ion-ios-list-outline"></i>
              </a>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
