<body>
  <!-- Views -->
  <div class="views">
    <!-- Your main view -->
    <div class="view view-map">
      <!-- Pages -->
  <div class="navbar">
  <div class="navbar-inner">
  <div class="left"><a href="#" class="back link"> <i class="ion ion-arrow-left-b"></i><span>Back</span></a></div>
  <div class="center sliding">Cofeine locations</div>
  <div class="right">
   <a href="#" class="link icon-only open-panel"> <i class="ion ion-navicon-round"></i></a>
  </div>
  </div>
  </div>
  <div class="pages navbar-through toolbar-through">
    <div data-page="login-page" class="page" data-role="page" id="login-page">
      <div class="page-content">

        <div class="row">
          <div class="col-25"></div>
          <div class="col-50">
          <div class="form-container">
            <!-- here goes form for new store -->
            <form action="send-here.html" method="POST" class="ajax-submit" id="login-form">

              <div class="content-block-title">Sign Up information</div>
              <!-- here goes controls -->
              <div class="list-block inset">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                          <input type="text" name="username-input" id="username-input" placeholder="Email" required/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                          <input type="text" name="password-input" id="password-input" placeholder="Password" required/>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                          <input type="text" name="repeat-password-input" id="repeat-password-input" placeholder="Repeat password" required/>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- end of controls -->
            </form>
          </div>
              <a href="#" id="signup-button" class="button pb-standalone-dark">Sign Up</a>
        </div>
      <div class="col-25"></div>
      </div>
      </div>
  </div>
</div>
</div>
</body>
