/* social buttons */

#fb-login-btn{
    display: inline-block;
    width: 100%;
    text-align: center;
    /* padding: 10px; */
    height: 44px;
    vertical-align: middle;
    line-height: 44px;
    background-color: #3B5983;
    /* border-color: #2d5073; */
    border-radius: 4px;
    border: 1px solid #2d5073;

    margin-top: 110px;
}

#login-form .list-block.inset{
    margin-left: 0px;
    margin-right: 0px;
}


            #info-page{
                width: 100%;
                height: 100%;
                padding: 0;
                position: relative;
            }
            #info-content{
                width: 100%;
                height: 100%;
                padding: 0;
                position: relative;
            }

            #small-map {
                width: 100%;
                height: 20%;
                padding: 10%;
                position:relative;
            }

          #info-text{
                position: relative;

            }

            textarea{
                resize: none;
            }

            #div-favorites{
                position: relative;
            }

            #coffee-favorites{
                position: relative;
            }

            .ui-filter-inset {
                margin-top: 0;
            }

/* overrides */

body {
    background-color: #5b321b;
    color: #e59a47;
}

.ion {
    font-size: 32px;
}

.page-content{
    background-color: #F7F7F7;
    color: #e59a47;
}

a, a:visited{
    color: #F2F2F2;
}

/* custom styles */
#splash-page .page-content{
    background-image: url('../img/splash_XXXHDPI.png');
    background-size: 100% 100%;
}

div.navbar, div.toolbar{
    background-color: rgba(61, 39, 0, 0.3);
    color: #F2F2F2;
}


div.panel-left{
    background-color: #f2f2f2;
    color: #D0021B;
}
div.panel-left .content-block{
    color: #D0021B;
}

div.app-title-panel{
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    padding-top: 8px;
}



div.splash-center{
/*    background-image: url('../img/mug.png');
    background-position: center;
    background-repeat: no-repeat;
*/
    background: rgba(123, 96, 96, 0.4);
    bottom: 0;
    height: 240px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    border-radius: 120px;
    font-size: 18px;
    line-height: 240px;
    text-align: center;
    color: #FFF;
}

div.splash-center a{
    color:#fff;
    font-size: 36px;
}

div.map-canvas{
    width: 100%;
    height: 96%;
    position: relative;
}

div#info-pane{
    display: table;
    height: 4%;
    width: 100%;
    position: relative;

}
div#info-pane #info-pane-text{
    display: table-cell;
    vertical-align: middle;
    padding: 4px 4px;
    text-align: center;
}

.tabs{
    height: 100%;
}
#map-tab, #list-tab{
    height: 100%;
    margin-bottom: 44px;
}

div#location-map{
    height:30%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 7px;
}



/* signin/signup page */

#signin-button{
    margin-bottom: 22px;
}
